
<nav class="navbar navbar-expand-lg navbar-light shadow custom_nav-container p-3">
  <div class="container">
  <a routerLink="/home" class="navbar-brand mr-5">
    <img src="../assets/images/logo.png" alt="">
    <span>PMS</span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
      <ul class='navbar-nav'>
      <li class="nav-item active">
      <a routerLink="/home"
      class="nav-link">Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
      <a routerLink="/about" class="nav-link">About
      </a></li>
      <li class="nav-item">
      <a routerLink="/contact"
      class="nav-link">Contact</a>
      </li>
          <li class="nav-item">
              <a routerLink="/login"
              class="nav-link">Login</a>
          </li>
          <li class="nav-item">
              <a routerLink="/view-properties"
              class="nav-link">
                  Properties</a>
          </li>
  </ul>
    <form class="form-inline">
      <button class="btn  my-2 my-sm-0 nav_search-btn" type="search">
         <i class="fa fa-search" aria-hidden="true"></i> 
      </button>
    </form>
  </div>
</div></div>
</nav>

<!-- <div class="parent">
  <input class="input" type="type" placeholder="Search..." />

<button class="btns">
  <i class="fa fa-search text-success" aria-hidden="true"></i> 
  </button>
</div> -->

