
  .slider_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            width: 100%;
           height:90vh;
  }
 
  .slider_section  .container{
    padding-top: 10px;
  }
  
  .slider_section  p {
    margin-top: 15px;
  }
  
  .slider_section  .btn-box {
    margin-top: 45px;
  }
  
  .slider_section  .btn-box a {
    display: inline-block;
    padding: 10px 24px 11px 24px;
    background-color:  #353b48;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 5px;
  }
   
  .slider_section .btn-box a:hover {
    background-color: transparent;
    border: 2px solid  #353b48;
    color: #353b48;
    font-weight: 900;
  }
  
  .slider_section #carouselExampleIndicators {
    width: 100%;
  }
  
  .slider_section .carousel-indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:#e93f1a;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: initial;
    width: 25px;
    height: 90%;
    margin: 0;
    bottom: 50%;
    right: 45px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  
   .second::before {
    content: "";
    position: absolute;
    top: 26%;
    left: 50%;
    width: 1px;
    height: 32%;
    background-color:#e93f1a;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  } 
  .second::after{
    content: "";
    position: absolute;
    bottom: -4%;
    left: 50%;
    width: 1px;
    height:32%;
    background-color: #e93f1a;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  } 
  
  .slider_section .carousel-indicators span {
    margin: 0 2px;
  }
  
  .slider_section .carousel-indicators li {
    text-indent: unset;
    margin: 0;
    border: none;
    opacity: 1;
    background-color: transparent;
    width: auto;
    height: auto;
  }
  
  .slider_section .carousel-indicators li.active {
    color: #353b48;
    
  }
  
  .slider_section .custom_carousel-control {
    position: absolute;
    top: 50%;
    left: 25px;
    width: 105px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .slider_section .custom_carousel-control .carousel-control-prev,
  .slider_section .custom_carousel-control .carousel-control-next {
    margin: 12px 0;
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    background-color: #e8e8e8;
    border-radius: 100%;
  }
  
  .slider_section .custom_carousel-control .carousel-control-prev:hover,
  .slider_section .custom_carousel-control .carousel-control-next:hover {
    background-color: #353b48;
  }
  
  @media (max-width: 991px) {
    .slider_section {
      height: 100vh;
      text-align: center;
    }
   
  
    .slider_section .hero-img {
      text-align: center;
    }
  
    .slider_section .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .slider_section h3 {
      font-size: 28px;
      line-height: 36px;
    }
  
  
    .slider_section .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 575px) {
    .slider_section .hero-img img {
      width: 80%;
    }
  
    #about .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
      margin-bottom:60px;
    }
  }

  

  @media (max-width: 1120px) {}

@media (max-width: 992px) {
  

    .slider_section {
        padding-top: 45px;
        padding-bottom: 75px;
    }

    .custom_nav-container .nav_search-btn {
        background-position: center;
    }

    .slider_section {
        background-size: cover;
        background-position: left;
    }

    .slider_section .carousel-indicators {

        height: 60%;
    }
}

@media (max-width: 768px) {
  .signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 0px 30px;
}
.signup-form .form-group{
  width:100%;
}
    .slider_section .detail-box {
        text-align: center;
    }

    .slider_section .carousel-indicators {
        display: none;
    }

    .slider_section .custom_carousel-control {

        display: none;
    }

    .about_section .img-box {
        margin-top: 35px;
    }

    .service_section .box {
        width: 100%;
    }


    .quote_section .box {

        flex-direction: column;
        text-align: center;

    }

    .client_section .box {
        width: 100%;
    }

    .client_section .client_container {
        width: 100%;
    }
}

@media (max-width: 576px) {
  .signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 0px 30px;
  } 
  .signup-form .form-group{
    width:100%;
}
}

@media (max-width: 480px) {
    .info_section .footer_contact {
        width: 315px;
    }
    .signup-form .form-group{
      width:100%;
  }
}

@media (max-width: 400px) {}

@media (max-width: 360px) {}


  .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
 
  @media (min-width: 1200px) {}
.h1{
  color:coral;
}