<div class="slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="second">02</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
      </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://as1.ftcdn.net/v2/jpg/01/97/05/06/1000_F_197050679_CVFSFPQnGgQtPRyRcAoxN81Dx3Aaxpx0.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h2 class="h1"><b>Jassa</b> eCommerce</h2>
                            <h3 class="h2">Lorem Ipsum Lorem Ipsum</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="btn-box">
                                <a href="" class="btn-1">
                                  Contact Us
                                </a>
                              </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://as2.ftcdn.net/v2/jpg/04/59/51/23/1000_F_459512326_TKx7e3Ep51BOJ4E9O1ZuZWv9f4PABdFg.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h2 class="h1">Lorem Ipsum</h2>
                            <span class="h2">Lorem Ipsum Lorem Ipsum</span>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="btn-box">
                                <a href="" class="btn-1">
                                  Contact Us
                                </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://thumbs.dreamstime.com/z/d-render-modern-house-isolated-white-background-rendering-129908766.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h2 class="h1">Lorem Ipsum</h2>
                            <span class="h2">Lorem Ipsum Lorem Ipsum</span>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="btn-box">
                                <a href="" class="btn-1">
                                  Contact Us
                                </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div></div>