<div class="w-[100vw] pms-header flex flex-col h-[80vh] items-center">
    <div class="flex flex-col h-[70%] w-[100%] md:w-[50%] absolute m-auto bg-black justify-evenly mt-16 opacity-10">
    </div>
    <div class="flex flex-col h-[70%] w-[100%] md:w-[50%] items-center justify-evenly mt-16">
        <div class="items-center flex flex-col text-center w-[100%] mt-6 z-30">
            <h1 class="text-white text-[1.3rem] md:text-[2rem] text-center font-bold uppercase"> We are here to help you
                get
                valuable properties to
                live!.</h1>
        </div>
        <div class="items-center flex h-[3rem] w-[100%] pms-coral rounded-sm z-30 justify-evenly m-auto">
            <h1 class="text-xlg text-white font-bold">See Our Available Properties | <a routerLink="/properties"
                    class="text-bold text-xlg pms-teal-color text-center bg-white p-3 rounded-sm">=></a></h1>

        </div>
    </div>
</div>