/* .pms-header {
  background-image: url("../../../assets/prop-three.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */
 /*end header section*/
  /* slider section */ 
  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
 
  /* .about_section .img-box {
    margin-top: 35px;
}
  .about_section .img-box img {
    width: 100%;
    height:300px;
    border-radius: 0px;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 8px 35px;
    background-color: #2f5061;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 25px;
  }
  
  .about_section .detail-box a:hover {
    background-color: transparent;
    border-color: #2f5061; 
    color: #2f5061;
  } */


  /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/





/*section ends*/
.contact .info-box {
  color: #0b2341;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 20px 0;
  background: #fff;
}

  .contact .info-box i {
      font-size: 30px;
      color: #2f5061;
      border-radius: 50%;
      padding: 8px;
  }

  .contact .info-box h3 {
      font-size: 20px;
      color: #777777;
      font-weight: 700;
      margin: 10px 0;
  }

  .contact .info-box p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
  }
.contact .email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px;
  background: #fff;
  margin:0px;
}

  .contact .email-form input,
  .contact .email-form textarea {
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
  }

      .contact .email-form input:focus,
      .contact .email-form textarea:focus {
          border-color:  #353b48;
      }

  .contact .email-form input {
      padding:  20px;
      border:  1px solid #f8f8f8;
  }

  .contact .email-form textarea {
      padding: 12px 15px;
  }

  .contact .email-form button[type=submit] {
      background:  #353b48;
      border: 0;
      padding: 10px 30px;
      border-radius: 4px;
      color: #fff;
      transition: 0.4s;
  }

      .contact .email-form button[type=submit]:hover {
          background: #2f5061;
      }



      /*--------------------------------------------------------------
# about Section
--------------------------------------------------------------*/
#about {
  width: 100%;
 height: 80vh;
  background:  #353b48;
}

#about .container {
  padding-top: 72px;
}
#about .section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}

 #about .section-title h2::after {

  background: #fff;
 
}

#about p {
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}


#about .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px 0 10px 0;
  color: #fff;
  border: 1px solid #fff;
}

#about .btn-get-started:hover {
  color:  #353b48;
  background-color: #fff;
  font-weight: bold;
}


/* #about .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
} */

@media (max-width: 991px) {
  #about {
    height: 100vh;
    text-align: center;
  }

  #about .animated {
    animation: none;
  }

  #about .hero-img {
    text-align: center;
  }

  #about .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #about h1 {
    font-size: 28px;
    line-height: 36px;
  }


  #about .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #about .hero-img img {
    width: 80%;
  }

  #about .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
    margin-bottom:60px;
  }
}