
<section id="about" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <div class="section-title">
          <h2>
            About Us
          </h2>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita velit similique dolor, possimus et ea obcaecati cum mollitia? Facere natus eligendi, officiis sapiente reiciendis unde molestias harum adipisci recusandae veniam pariatur ab neque provident, libero doloremque nam aliquid tempora? Eveniet qui delectus 
          quibusdam hic beatae impedit repellendus voluptatibus, itaque consequuntur.</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="../assets/images/about-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>
<!-- <section class="about_section section-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="section-title">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using 'Content here, content here', making it look like readable English. Many
              desktop publishing packages and web page editors now use Lorem Ipsum as their
            </p>
            <a href="">
              Get Started
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="../assets/images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section  class="contact">
    <div class="container">
            <div class="section-title">
              <h2>
                Contact Us
              </h2>
            </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h3>Our Address</h3>
                            <p>12b Cetenary , Enugu, Nigeria </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box info-box1 mt-3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h3>Email Us</h3>
                            <p>info@Tence.com<br>contact@Tenece.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box info-box1 mt-3">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h3>Call Us</h3>
                            <p>+2347031653729<br>+2347039013194</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form  role="form" class="email-form mt-2">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-2">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>

                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->


