


.input-group-addon{background-color:#eee;
  color:#2f5061; width:32px !important;  border-top-left-radius: 3px; border-top-right-radius: 3px;
}
.fs-3{
  color: #2f5061;
}
.container{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.form-group
{
  margin: 5px 0px;
}
.fa{
  justify-content: center;
  display:flex;
  align-items: center;
  font-size: 16px;
  background-color:#eee;
}
.eye{
  padding:10px 0px;
}
form{
 width: 500px;
}
.form-control
{
  padding:  20px 0px;
}
::placeholder{
  text-indent: 5px;
}

#forget{
    min-width:100px;
    margin-left:auto;
    text-decoration: none;
    cursor:pointer;
}
a:hover{
    text-decoration: none;
}
.form-inline label{
    padding-left:10px;
    margin:0;
    cursor:pointer;
}

.btn{
    background-color:#2f5061;
    color:#fff;
  }
.btn:active
{
    border:0;
    outline:0;
}

.fa-eye-slash  .btn{
    border:none;
    outline:none;
    box-shadow:none;
}
img{
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius:50%;
    position:relative; 
}
.bordert{
    border-top:1px solid #aaa;
    position:relative;
}
.bordert:after{
    content:"or connect with";
    position:absolute;
    top:-13px;
    left:33%;
    background:#fff;
    padding:0 8px;
}
    